voice-activity-detection-sjtu-spring-2024/vad/waves

voice-activity-detection-sjtu-spring-2024/vad/latex

voice-activity-detection-sjtu-spring-2024/vad/data

**/.DS_Store

*.pdf
*.txt
*.wav


**/__pycache__/

__pycache__/